* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    
}

body {
    background-color: aqua;
}

h1 {
    margin: 5px;
    padding-left: 30px;
}

p {
    margin: 5px;
}

.bounty-container {
    width: 445px;
    margin: auto;
}



.bounties {
    width: 410px;
    display: grid;
    grid-template-areas: 'a a';
    grid-auto-columns: 200px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 10px;
    margin: auto;
}

.bounty {
    background-color: rgb(238, 125, 187);
    padding: 5px;
    border: 2px inset black;
    border-radius: 8px;
}

form {
    padding-top: 5px;
    background-color: rgb(238, 125, 187);
    border: 2px inset black;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
}

input {
    
    padding: 5px;
    font-size: 14px;
    border: 2px inset black;
    border-radius: 4px;
    margin: 5px 1px 5px 0px;
}

input[type=number] {
    width: 112px;
}

button {
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.filter-btn {
    background-color: whitesmoke;
    color: black;
}

.btn-area {
    padding: 10px;
}

.radio {
    background-color: whitesmoke;
    width: 110px;
    height: 20px;
    padding: 10px;
    border: 2px inset black;
    border-radius: 8px;
    display: inline-block;
    margin: 5px;
}

.radio-living {
    height: 40px;
}

label {
    font-weight: lighter;
}

.filter {
    width: 300px;
    margin: auto;
    padding: 10px;
    text-align: center;
    
    
}

.filter-select {
    width: 200px;
    height: 40px;
    margin: auto;
    
    
}